# dont set ETag on static content, Last-Modified is enough
FileETag None

# dont send X-Pad header (fix for ancient bug in Netscape browser still sent in apache 2.2)
Header unset X-Pad

# -Indexes: dont expose directory listings
# -MultiViews: dont have apache trying to outsmart our request routing
Options +FollowSymLinks -Indexes -MultiViews

# dont expose .git directory - TODO block access to all dot . files
RedirectMatch 404 /\.git

RewriteEngine on
RewriteRule ^js/ - [L]
RewriteRule ^partials/ - [L]
RewriteRule ^(.*)$ index.php [QSA,L]
